@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  /*line-height: 1.5;*/
  /*font-weight: 400;*/
}

body {
  /*font-family: 'Inter', sans-serif;*/
  place-items: center;
  min-height: 100vh;
}

